apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: amt-prometheus-alerts
  namespace: amt
  labels:
    team: amt
spec:
  groups:
    # Alerts for applikasjoner. Typ feil i logger, HTTP-statuser o.l.
    - name: amt-application-alerts
      rules:
        # Sjekk mengden errors i loggen
        - alert: LogsErrorRate
          expr: (100 * sum by (app, namespace) (rate(log_messages_errors{level="Error", namespace="amt"}[3m])) / sum by (app, namespace) (rate(log_messages_total{namespace="amt"}[3m]))) > 1
          for: 5m
          annotations:
            title: 'Applikasjonen `{{ $labels.app }}` logger mye feil'
            summary: 'Det er blitt logger mye feil i det siste fra applikasjonen `{{ $labels.app }}`'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana> eller i en terminal med `kubectl logs -l app={{ $labels.app }}`'
            resolved: 'Applikasjonen `{{ $labels.app }}` logger som normalt'
          labels:
            namespace: amt
            severity: warning
            alert_type: custom

        # Sjekk HTTP 5xx statuser i ingresser
        - alert: HTTP5xxStatus
          expr: (100 * sum by (service) (rate(nginx_ingress_controller_requests{status=~"5\\d\\d", namespace="amt"}[3m])) / sum by (service) (rate(nginx_ingress_controller_requests{namespace="amt"}[3m]))) > 1
          for: 5m
          annotations:
            title: 'Tjenesten `{{ $labels.service }}` svarer med HTTP 5xx feil'
            summary: 'Det har blitt mange HTTP 5xx feil i det siste fra tjenesten `{{ $labels.service }}`'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana> eller i en terminal med `kubectl logs -l app={{ $labels.service }}`'
            resolved: 'Tjenesten `{{ $labels.service }}` svarer som normalt'
          labels:
            namespace: amt
            severity: warning
            alert_type: custom

        # Sjekk HTTP 4xx statuser i ingresser
        - alert: HTTP4xxStatus
          expr: (100 * sum by (service) (rate(nginx_ingress_controller_requests{status=~"400", namespace="amt"}[3m])) / sum by (service) (rate(nginx_ingress_controller_requests{namespace="amt"}[3m]))) > 1
          for: 5m
          annotations:
            title: 'Tjenesten `{{ $labels.service }}` opplever mange HTTP 4xx feil'
            summary: 'Det har blitt returnert mange HTTP 4xx feil i det siste til tjenesten `{{ $labels.service }}`'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana> eller i en terminal med `kubectl logs -l app={{ $labels.service }}`'
            resolved: 'Tjenesten `{{ $labels.service }}` oppfører seg normalt'
          labels:
            namespace: amt
            severity: warning
            alert_type: custom

        # Sjekk Kafka consumer lag
        - alert: KafkaConsumerLag
          expr: sum by(group) (kafka_consumergroup_group_lag{topic=~"amt\\..*",group=~"^amt-.*",client_id!="unknown"}) > 10
          for: 5m
          annotations:
            title: 'Konsumenten `{{ $labels.group }}` har treghet i mottak av Kafka-meldinger'
            summary: 'Forsinkelsen ved mottak av Kafka-meldinger øker for konsumenten `{{ $labels.group }}`'
            action: 'Sjekk <https://grafana.nav.cloud.nais.io|Grafana> for logger eller telemetri.'
            resolved: 'Konsumenten `{{ $labels.group }}` oppfører seg normalt'
          labels:
            namespace: amt
            severity: warning
            alert_type: custom

    # Alerts for kjøretid. Typ om PODer kjører, resursbruk, e.l.
    - name: amt-runtime-alerts
      rules:
        # Sjekk CPU-bruk
        - alert: HighCPUUsage
          expr: (100 * sum by(app) (rate(jvm_cpu_time_seconds_total{namespace="amt"}[5m]))) > 80
          for: 5m
          annotations:
            title: 'Applikasjonen `{{ $labels.app }}` har høy CPU-bruk'
            summary: 'En eller flere av instansene for applikasjonen `{{ $labels.app }}` bruker mer enn 80% av tilgjengelig CPU'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana>, i en terminal med `kubectl logs -l app={{ $labels.app }}` eller <https://console.nav.cloud.nais.io/team/amt|NAIS Console>'
            resolved: 'Applikasjonen `{{ $labels.app }}` oppfører seg normal'
          labels:
            namespace: amt
            severity: danger
            alert_type: custom

        # Sjekk minneforbruk
        - alert: HighMemoryUsage
          expr: (100 * sum by (instance) (jvm_memory_used_bytes{namespace="amt", area="heap"})) / sum by (instance) (jvm_memory_max_bytes{namespace="amt", area="heap"}) > 80
          for: 5m
          annotations:
            title: 'Applikasjonen `{{ $labels.app }}` har høyt minneforbruk'
            summary: 'En eller flere av instansene for applikasjonen `{{ $labels.app }}` bruker mer enn 80% av tilgjengelig minne'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana>, i en terminal med `kubectl logs -l app={{ $labels.app }}` eller i <https://console.nav.cloud.nais.io/team/amt|NAIS Console>'
            resolved: 'Applikasjonen `{{ $labels.app }}` oppfører seg normal'
          labels:
            namespace: amt
            severity: danger
            alert_type: custom

        # Sjekk manglede POD replicas
        - alert: InstanceDown
          expr: sum by (deployment, namespace) (kube_deployment_status_replicas_available{namespace="amt"} offset 5m) == 0
          for: 5m
          annotations:
            title: 'Deployment `{{ $labels.deployment }}` har nedetid'
            summary: 'En eller flere av instansene for deployment `{{ $labels.deployment }}` er nede'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana> eller i en terminal med `kubectl logs -l app={{ $labels.deployment }}`'
            resolved: 'Deployment `{{ $labels.deployment }}` kjører som normalt'
          labels:
            namespace: amt
            severity: critical
            alert_type: custom

        # Sjekk POD restart status
        - alert: CrashLoopBackoff
          expr: sum by (container) (increase(kube_pod_container_status_restarts_total{namespace="amt"}[5m])) > 3
          for: 2m
          annotations:
            title: 'POD `{{ $labels.container }}` starter ikke'
            summary: 'Det er en feil som gjør at PODen `{{ $labels.container }}` ikke starter.'
            action: 'Sjekk loggen i <https://grafana.nav.cloud.nais.io|Grafana> eller i en terminal med `kubectl logs -l app={{ $labels.container }}`'
            resolved: 'POD `{{ $labels.container }}` kjører som normalt'
          labels:
            namespace: amt
            severity: critical
            alert_type: custom
