name: Deploy alerts to dev
on:
  push:
    branches:
      - main
    paths:
      - "alerts/dev/*.yaml"
      - ".github/workflows/alerts-dev.yaml"

jobs:
  deploy-dev:
    name: Deploy alerts to dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: List resource files
        run: echo "RESOURCE_FILES=$(find alerts/dev -type f -name '*.yaml' -printf '%p,' | sed 's/,$/\n/')" >> $GITHUB_ENV
      - name: Deploy to GCP
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: ${{ env.RESOURCE_FILES }}
          PRINT_PAYLOAD: true
